<mat-table [dataSource]="arrayModel" class="mat-table-list">

  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="categoria">
    <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.categoria}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ano">
    <mat-header-cell *matHeaderCellDef> Ano </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ano}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sinopse">
    <mat-header-cell *matHeaderCellDef> Sinopse </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sinopse}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="diretor">
    <mat-header-cell *matHeaderCellDef> Diretor </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.diretor}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column-list">
      <button (click)="onAdd()" mat-mini-fab color="accent" aria-label="Adicionar um título.">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let element" class="action-column-list">
      <button (click)="onEdit(element)" mat-icon-button color="primary" aria-label="Editar um título.">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="onDelete(element)" mat-icon-button color="warn" aria-label="Remover um título.">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>

  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
