<mat-card class="mat-card-form">
  <mat-toolbar color="primary">Detalhes de título</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="min-width-form">
      <mat-grid-list cols="12" rowHeight="80" gutterSize="10px">

        <mat-grid-tile [colspan]="10" [rowspan]="1">
          <mat-form-field class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" #nome>
            <mat-hint align="end">{{nome.value.length}}/255</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="full-width">
            <mat-label>Ano</mat-label>
            <input matInput formControlName="ano" #ano mask="0000">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="12" [rowspan]="2">
          <mat-form-field class="full-width text-area">
            <mat-label>Sinopse</mat-label>
            <textarea matInput formControlName="sinopse" #sinopse></textarea>
            <mat-hint align="end">{{sinopse.value.length}}/600</mat-hint>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="full-width">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let categoria of (categoriasDisponiveis$ | async)" [value]="categoria">
                {{categoria}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="full-width">
            <mat-label>Classe</mat-label>
            <mat-select formControlName="classe" [compareWith]="compareObjetos">
              <mat-option *ngFor="let classe of (classesDisponiveis$ | async)" [value]="classe">
                {{classe.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="full-width">
            <mat-label>Diretor</mat-label>
            <mat-select formControlName="diretor" [compareWith]="compareObjetos">
              <mat-option *ngFor="let diretor of (diretoresDisponiveis$ | async)" [value]="diretor">
                {{diretor.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="12" [rowspan]="1">
          <mat-form-field class="full-width">
            <mat-label>Atores</mat-label>
            <mat-select formControlName="atores" multiple [compareWith]="compareObjetos">
              <mat-option *ngFor="let ator of (atoresDisponiveis$ | async)" [value]="ator">{{ator.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Salvar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
