/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: #e8e7ea
}

.mat-card-form{
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

.full-width{
  width: 100%;
}

.min-width-form{
  width: 100%;
  min-width: 150px;
  margin-top: 16px;
}

.mat-table-list {
  overflow: auto;
  max-height: 600px;
}

.action-column-list{
  flex: 0 0 125px;
  justify-content: center;
}

.loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: rgba(0,0,0,0.15);
}
