<mat-toolbar color="primary">
  <mat-icon>movie</mat-icon>&nbsp;
  <span>Locadora Passatempo</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="Página inicial" aria-label="Voltar para página inicial." routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Locações" aria-label="Navegar para locações." routerLink="/locacoes">
    <mat-icon>shop</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Menu" [matMenuTriggerFor]="menu" aria-label="Abrir menu de opções.">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/atores">
      <span>Atores</span>
    </button>
    <button mat-menu-item routerLink="/classes">
      <span>Classes</span>
    </button>
    <button mat-menu-item routerLink="/clientes">
      <span>Clientes</span>
    </button>
    <button mat-menu-item routerLink="/diretores">
      <span>Diretores</span>
    </button>
    <button mat-menu-item routerLink="/itens">
      <span>Itens</span>
    </button>
    <button mat-menu-item routerLink="/titulos">
      <span>Títulos</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
