<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Classes disponíveis</span>
    </mat-toolbar>
    <div class="mat-elevation-z8">
      <app-classes-list *ngIf="registros$ | async as classes; else loading"
      [arrayModel]="classes"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)">
      </app-classes-list>

      <ng-template #loading>
        <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>

    </div>
  </mat-card-content>
</mat-card>
